
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{{url_for('static', filename='jquery-3.3.1.js')}}"></script>
    <script src="{{url_for('static', filename='index.js')}}"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>SAM 6-Axis Arm Camera</title>
  </head>
  <body>
    
    <div class="container">
      <div class="row text-center">
          <h1>SAM 6-Axis Arm Camera</h1>
      </div>
        <!-- Content here -->
        <div class="row">
          <!-- <div class="col-6"> -->
              <div class="card mx-auto" style="width: 48rem;">
                  <img src="{{ url_for('video_feed') }}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h2 class="card-text alert-primary">SAM 6-Axis Arm Camera!</p>
                      <button type="button" class="btn btn-primary btn-lg" id="get_screen_front">Save a frame!</button>
                      <button type="button" class="btn btn-secondary btn-lg" id="record_vids_front">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-record-btn" viewBox="0 0 16 16">
                          <path d="M8 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
                          <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"></path>
                        </svg>
                        Record a vids!
                    </button>
                  </div>
                </div>
          <!-- </div> -->
         
        </div>
      </div>

      <div class="modal" tabindex="-1" id="get_screen_modal">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <h1 class="modal-title" id="get_screen_modal_title">?</h1>
                  </div>
                  <div class="modal-body">
                      <h2 id="get_screen_modal_text">?</h2>
                  </div>
                      <div class="modal-footer">
                  </div>
              </div>
          </div>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
